<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<!------ Include the above in your HEAD tag ---------->

<style>
.container {
padding:0px;

}
</style>

<% @tutor_list.each do |u| %>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
<section class="container mt-4 mb-4">
<div class="container">
	<div class="row mb-3">
		<div class="col-md-6">
			<div class="d-flex flex-row border rounded">
	  			<div class="p-0 w-25">
	  			    <img src="http://chittagongit.com//images/no-profile-picture-icon/no-profile-picture-icon-11.jpg" class="img-thumbnail border-0" />	
	  			</div>
	  			<div class="pl-3 pt-2 pr-2 pb-2 w-75 border-left">
	  					<h4 class="text-primary"><%= u.first_name %> <%= u.last_name %></h4>
	  					<h6 class="text-secondary"><%= u.city %>, <%= u.state %></h6>
	  					<h5 class="text-info"><%= u.description %></h5>
	  					<ul class="m-0 float-left" style="list-style: none; margin:0; padding: 0">
	  					</ul>

                        <h6>
				  			<% if u.tag1 != nil %>
				  			<span class="badge badge-dark"><%= u.tag1 %></span> 
				  			<% end %>
				  			<% if u.tag2 != nil %>
				  			<span class="badge badge-dark"><%= u.tag2 %></span>
				  			<% end %>
				  			<% if u.tag1 != nil %> 
				  			<span class="badge badge-dark"><%= u.tag3 %></span>
				  			<% end %>
                        </h6>

						<p class="text-right m-0"><a href="/tutor_list" class="btn btn-primary" data-toggle="modal" data-target=#<%= u.id %>><i class="far fa-user"></i> View Profile</a></p>

						<!-- Modal -->
							<div class="modal fade bd-example-modal-lg" id=<%= u.id %> tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
							  <div class="modal-dialog modal-dialog-centered" role="document">
							    <div class="modal-content">
							      <div class="modal-header">
							        <h5 class="modal-title" id="exampleModalLongTitle"><%= u.first_name %> <%= u.last_name %></h5>
							        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							          <span aria-hidden="true">&times;</span>
							        </button>
							      </div>
							      <div class="modal-body">
							      	<div class="p-0 w-25">
	  			    					<img src="http://chittagongit.com//images/no-profile-picture-icon/no-profile-picture-icon-11.jpg" class="img-thumbnail border-0" />	
	  								</div>

	  								<div class="container-fluid">

	  								<p>
	  								<h4 class="text-primary"><%= u.first_name %> <%= u.last_name %></h4>
				  					<h6 class="text-secondary"><%= u.city %>, <%= u.state %></h6>
				  					<h5 class="text-info"><%= u.description %></h5>
				  					<ul class="m-0 float-left" style="list-style: none; margin:0; padding: 0">
				  					</ul>
				  					</p>

				  					<p>
				  					<h6>
				  						<% if u.tag1 != nil %>
				  						<span class="badge badge-dark"><%= u.tag1 %></span> 
				  						<% end %>
				  						<% if u.tag2 != nil %>
				  						<span class="badge badge-dark"><%= u.tag2 %></span>
				  						<% end %>
				  						<% if u.tag1 != nil %> 
				  						<span class="badge badge-dark"><%= u.tag3 %></span>
				  						<% end %>
				  					</h6>
				  					</p>

				  					<p>
				  					<h6 class="text-info">Contact Information: </h6>
				  					<h7><span class="badge badge-info"><%= u.email %></span></h7>
				  					</p>

							      	</div>
							      	</div>
							      <div class="modal-footer">
							        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							        
							      </div>
							    </div>
							  </div>
							</div>
				</div>
			</div>
		</div>
	</div>
</div>
</section>
<% end %>